<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do app</title>
</head>
<body>
    <h1>ToDo App!</h1>
    <form action)="">
        <div>
            <label for="title">Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo...">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
    {%for todo in todo_list%}
        <p>{{ todo.id }} | {{todo.title }} | {{todo.complete}}</p>

        {%if todo.complete == False%}
            <span>Not Completed</span>
        {%else%}
            <span>Completed</span>
        {%endif%}

    <a href="/">Update</a>
    <a href="/">Delete</a>
    {%endfor%}

</body>
</html>